.site {
    &_main {
        .main_content {
            background-color: #f7f7f8;
            .content_article_sim {
                background-image: linear-gradient(to right, #f8c225, #f7df2e);
                .article_item {
                    img{
                        width: 100%;
                    }
                    .article_title {
                        font-size: 42px;
                        line-height: 48px;
                        font-weight: 600;
                        color: #161d4a;
                        margin: 30px 0;
                    }
                    .parag_ {
                        margin-bottom: 40px;
                    }
                    .article_text {
                        .icon {
                            padding: 0;
                            img {
                                width: 100%;
                            }
                        }
                        .text {
                        }
                    }
                }
            }
            .specifications {
                padding: 40px 0;
                h2{
                    font-size: 25px;
                    line-height: 26px;
                    font-weight: 600;
                    color: #212328;
                    margin-bottom: 20px;
                }
                .specifications_content {
                    table {
                        background-color: #fff;
                    }
                    tr:nth-child(1) {
                        td {
                            border: none;
                        }
                    }
                    tr:nth-child(n-1) {
                        border-bottom: 1px solid #d9d9d9;
                    }
                }
                .description {
                    .content_des {
                        background-color: #fff;
                        padding: 35px;
                    }
                }
            }
        }
    }
}
