@mixin font() {
    font-size: 16px;
    font-weight: 400;
    color: #e9ebee;
}

@media only screen and (max-width: 576px) {
    .site {
        &_header {
            .header_top {
                .align-item {
                    justify-content: center;
                    align-items: center;
                    .icon-align-justify {
                        display: block;
                        i {
                            font-size: 25px;
                            color: #111;
                        }
                    }
                    .support {
                        display: none;
                    }
                }
            }

            .header_bottom {
                display: none;
            }
            .nav_overlay {
                display: none;
                position: fixed;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background-color: rgba(0, 0, 0, 0.3);
                animation: fadeIn linear 0.2s;
            }
            .menu_nav_mobi {
                display: block;
                position: fixed;
                top: 0;
                left: 0;
                bottom: 0;
                width: 320px;
                max-width: 100%;
                background: linear-gradient(30deg, #f8c225 40%, #fff 100%);
                transform: translateX(-100%);
                transition: transform linear 0.2s;
                .hNav_mobi {
                    padding: 50px;
                    .link_mb {
                        color: #11141b;
                        display: block;
                        padding: 20px 0;
                        font-size: 20px;
                        text-decoration: none;
                        i {
                            margin-left: 10px;
                        }
                    }
                    ._btn {
                        background: linear-gradient(30deg, #4281a4 40%, #f8c225 100%);
                        padding: 10px 20px;
                       
                    }
                }
            }
            .nav_mobi_close {
                font-size: 24px;
                position: absolute;
                top: 0;
                right: 1rem;
            }
            .nav_input {
                display: none;
            }
            .nav_input:checked ~ .nav_overlay {
                display: block;
            }
            .nav_input:checked ~ .menu_nav_mobi {
                transform: translateX(0%);
            }
        }
    }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
    .site {
        &_header {
            .header_top {
                .align-item {
                    justify-content: center;
                    align-items: center;
                    .icon-align-justify {
                        display: block;
                        i {
                            font-size: 25px;
                            color: #111;
                        }
                    }
                    .support {
                        display: block;
                    }
                }
            }
            .header_bottom {
                display: none;
            }
            .nav_overlay {
                display: none;
                position: fixed;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background-color: rgba(0, 0, 0, 0.3);
                animation: fadeIn linear 0.2s;
            }
            .menu_nav_mobi {
                display: block;
                position: fixed;
                top: 0;
                left: 0;
                bottom: 0;
                width: 320px;
                max-width: 100%;
                background: linear-gradient(30deg, #f8c225 40%, #fff 100%);
                transform: translateX(-100%);
                transition: transform linear 0.2s;
                z-index: 1000;
                .hNav_mobi {
                    padding: 50px;
                    .link_mb {
                        color: #11141b;
                        display: block;
                        padding: 20px 0;
                        font-size: 20px;
                        text-decoration: none;
                        i {
                            margin-left: 10px;
                        }
                    }
                    ._btn {
                        background: linear-gradient(30deg, #4281a4 40%, #f8c225 100%);
                        padding: 10px 20px;
                    }
                }
            }
            .nav_mobi_close {
                font-size: 24px;
                position: absolute;
                top: 0;
                right: 1rem;
            }
            .nav_input {
                display: none;
            }
            .nav_input:checked ~ .nav_overlay {
                display: block;
            }
            .nav_input:checked ~ .menu_nav_mobi {
                transform: translateX(0%);
            }
        }
    }
    .modal .modal-dialog {
        max-width: 500px;
        margin-top: 150px;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .site {
        &_header {
            .header_bottom {
                display: block;
                li {
                    a {
                        font-size: 9px;
                    }
                    ._btn {
                        padding: 10px 15px;
                        font-size: 13px;
                    }
                }
            }
        }
    }
    .modal .modal-dialog {
        max-width: 700px;
        margin-top: 150px;
    }
}
@media screen and (min-width: 992px) {
    .site {
        &_header {
            .header_bottom {
                li {
                    a {
                        font-size: 13px;
                    }
                    ._btn {
                        padding: 22px 55px;
                    }
                }
            }
        }
        &_main {
            .slider_top {
                .description {
                    .slider_title {
                        font-size: 25px;
                        line-height: 26px;
                    }
                    .para {
                        font-size: 9px;
                        line-height: 16px;
                    }
                }
            }
        }
        .modal .modal-dialog {
            max-width: 800px;
            margin-top: 150px;
        }
    }
}
